# --- Django ---
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# --- Python / Entorno Virtual ---
venv/
env/
.env
.venv
.pytest_cache/

# --- Arch Linux / Sistema / Editor ---
.DS_Store
.vscode/
.idea/
*~
*.swp